.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #1B74E3;
}

.skin-black .sidebar a {
    color: #FFFFFF;
}

.skin-black .treeview-menu>li.active>a, .skin-black .treeview-menu>li>a:hover {
    color: #1B74E3;
    background-color: #FFFFFF;
}

.skin-black .treeview-menu>li>a {
    color: #FFFFFF;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    background-color: #1B74E3;
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    background-color: #1B74E3;
}

.skin-black .sidebar-form .btn {
    color: #FFFFFF;
}

.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
    background-color: #1B74E3;
}

.skin-black .sidebar-form {
    border-color: #FFFFFF;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form input[type="text"]::placeholder {
    color: #FFFFFF;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #1B74E3; !important;
}

.box.box-primary {
    border-top-color: #1B74E3;
}

a {
    color: #1B74E3;
}

a:hover {
    color: #1B74E3;
}

.text-info {
    color: #1B74E3;
}

.text-info:hover {
    color: #1B74E3;
}

.btn-primary {
    background-color: #1B74E3;
    border-color: #1B74E3;
}

.btn-primary:hover {
    background-color: #FFFFFF;
    color: #1B74E3;
    border-color: #1B74E3;
}

.btn-link {
    color: #1B74E3;
}

.btn-link:hover {
    color: rgb(89, 190, 176);
}

